# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Gustavo Figueira
	email = gfigueira@suse.com
[color]
	status = always
[core]
	askpass = 
	pager = less -F -X
[merge]
	tool = meld
[credential]
	helper = cache
