# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = gfigueir
	email = gfigueira@suse.com
[color]
	status = always
[core]
	askpass = 
[merge]
	tool = meld
